<section>
  <article class="type-system-traditional centered">
    <br /><br />
    <%= button_to "CREATE PAGE", new_admin_page_path, method: :get %>
    <%= render 'page_rows' %>
  </article>
</section>
