<section>
  <article class="type-system-traditional centered">
    <br /><br />
    <%= button_to "CREATE RECIPE", new_admin_recipe_path, method: :get %>
    <%= render 'recipe_rows' %>
  </article>
</section>
