<% if @event.errors.any? %>
  <div class="alert flash-error">
    <h2><%= pluralize(@event.errors.count, "error") %> prevented this event from being saved:</h2>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<article class="type-system-traditional">
  <%= render 'form' %>
</article>
