<section>
  <article class="type-system-traditional centered">
    <% if logged_in? && admin? %>
      <%= render 'event_rows_admin' %>
    <% else %>
      <%= render 'event_rows' %>
    <% end %>
  </article>
</section>
