<style media="screen">
  .images-wrapper { background-image: url("http://thenation.s3.amazonaws.com/ads/hb/pasta-water-and-wine-bottle.JPG") }
</style>
<section>
  <article class="type-system-slab">
    <div class="side-image">
    <div class="images-wrapper"></div>
      <div class="side-image-content">
        <h4>BRUNCH</h4>
        <h1>Saturday, September 28</h1>
        <h3>123 First Avenue, New York, NY</h3>
        <p class="date">11 AM</p>
        <p><span>Brunch is a little lazier</span>, a little slower, a little ho-hummier meal... but no less delicious.</p>
        <p>So we decided to approach it a little less formally-- not in course-by-course action, but with a few things served together so you can take your time and enjoy your company.</p>
        <p>Come by to sop up the night's excess alcohol with <strong>eggs</strong>, <strong>pork</strong>, assorted <strong>biscuits</strong> and <strong>breads</strong>, <strong>leeks</strong> (who doesn't want <strong>leeks</strong>?) with a surprise or two. And because it was such a hit, we're doing a cocktail: an <strong>orange-y Creole coffee punch</strong>! Be there or be square... or asleep [snooze].</p>
        <button>Reserve Today!</button>
      </div>
    </div>
  </article>
</section>