<div class='hero'>
  <div class='hero-inner'>
    <a class='hero-logo' href=''>
      <img alt='Logo Image' src='http://thenation.s3.amazonaws.com/ads/hb/HB_Final_White.png'>
    </a>
    <div class='hero-copy'>
      <p>The Hungry Bunny is a supper club located in New York City. The club is a warm and inviting place for friends and neighbors to gather. We love good food, good booze and good company. Across all continents, cultures and generations, people have come together to share meals. We've carved out a tiny space in the East Village where people can do just this. Come join us!</p>

    </div>
    <%= button_to "Learn More", about_path, method: :get %>
  </div>
</div>
