<article class="type-system-traditional centered">
  <h1>About</h1>
  <p>The Hungry Bunny Supper Club was started by me (Kate) as a way to bring people together to share good food and conversation. Though I'm not a trained chef, I think I'm a pretty a decent home cook. But the best part is bringing people together around food - an experience that has spanned history and cultures.</p>

  <p>Since we're new, we're going to aim for a couple of dinners per season; I'll post the menu on this site prior, along with specifics, as well as sending an email to the list. If you'd like to join my email list, drop a line to: hungrybunnyjc@gmail.com</p>

  <p>My background is in publishing and writing - particularly food writing - and budgeting. But the entire experience stems from my 15 years in the restaurant industry, whether my first start at the local fast food joint or the eventual work as a caterer and bartender.</p>

  <p>I love the challenge of cooking within a budget and timeframe, and the eventual payoff. I also love the performance of cooking for a large group of people, the pressure, the deadline, and restaurant banter. I began cooking for my friends and roommates in college, and this is the next logical step.</p>

  <p>However, my family may remember fondly the first incarnation of Katelyn's Cafe, complete with a menu of 5 cent and 10 cent items.</p>

  <p>Hungry Bunny dinners will seat 8 people. You may reserve for more than one person, but the donation will be $35/person.</p>

  <p>I've also decided it would help if you could see what I cook regularly for myself and my friends; hence, the recipes. Would love your feedback!</p>

  <p>xo,<br>
    the hungry bunnies</p>
</article>
