<article class="type-system-traditional centered">
  <h1>About</h1>

  <p>The Hungry Bunny Supper Club began as a way to bring people together to share good food and conversation. The best part is bringing people together around food - an experience that has spanned history and cultures.</p>

  <p>Our mission is simple: to bring friends and strangers around a table to share good, wholesome food. We aim to do at least one meal per month. Events are posted on this site and emailed; if you'd like to join the email list, drop a line to: <a href="mailto:hungrybunnyjc@gmail.com">hungrybunnyjc@gmail.com</a></p>

  <p>Hungry Bunny meals seat 8 people. You may reserve for more than one person, but the donation is usually around $40/person.</p>

  <p>Check out our recipes, events and more! Would love your feedback!</p>

  <p>xo,<br>
  the hungry bunnies</p>
</article>
