<article class="type-system-traditional centered">
  <h1>Catering</h1>
  <p>Does the Hungry Bunny cater events? The Hungry Bunny is ABSOLUTELY available to cater your next event! No party is too small or too big. We've done private dinner parties, birthdays, showers and an office party for 200 (no joke). Drop us a line at <a href="mailto:hungrybunnyjc@gmail.com">hungrybunnyjc@gmail.com</a> and let us know what you're looking for.</p>
</article>