<article class="type-system-traditional centered">
<h1>Community</h1>

<p>Delicious food aside, our main purpose is to brighten the community and bring folks together. Check out some of our favorite local people, businesses, artisans, and groups. Some are in Manhattan and some are in Jersey City. All have our heart.</p>

<p><strong><a href="http://www.14streety.org">14th St Y</a></strong> (NYC): Community center with a pool, daycare and Nia classes. BOOM.</p>

<p><strong><a href="http://www.brunswickcommunitygarden.org">Brunswick Community Garden</a></strong> (JC): This open urban green space is located on Brunswick between 5th and 6th in downtown JC. We hungry bunnies prefer to eat greens and leave the growing to the BC gardeners.</p>

<p><strong><a href="http://chocopainbakery.com">Choco a Pain</a></strong> (JC): Located in the space of the old Made with Love, we were ready to hate... until we tasted their baked goods. They solve the age-old debate of almond v. chocolate croissant with an almond-chocolate croissant.</p>

<p><strong><a href="http://commoditiesnaturalmarket.com">Commodities Natural Market</a></strong> (NYC): Where we go when we need groceries for ourselves. They carry organic young Thai coconuts!</p>

<p><strong><a href="http://www.cinnamonsnail.com">The Cinnamon Snail</a></strong> (JC and NYC): Vegan food truck from Red Bank. Once I caught them at the Grove St Plaza, and their tofu in white wine sauce sandwich changed my life. They hang in JC, Hoboken and NYC. I'm pretty confident they're the nicest people ever.</p>

<p><strong><a href="http://www.hamiltoninnjc.com">Hamilton Inn</a></strong> (JC): Get the Asian wings, the lobster bisque, the goat cheese salad or the banana cream pie. Or anything else: it's delicious.</p>

<p><strong><a href="http://www.jeepneynyc.com">Jeepney</a></strong> (NYC): If we're not getting Filipino food in Jersey, we're getting it here.</p>

<p><strong><a href="https://www.facebook.com/pages/Legal-Grounds/164016380296928?sk=info">Legal Grounds Cafe</a></strong> (JC): Hands down, HB's favorite cafe in JC! Willie makes the meanest sandwich (try the BLT on a toasted bagel) and Katie's espresso making skills are beyond control. [You know a place makes a great sandwich when dozens of construction workers come in for lunch]. Plus, they have a garden, free internet and an encyclopedia of animals.</p>

<p><strong><a href="https://www.facebook.com/mortgageapplecakes">Mortgage Apple Cakes</a></strong> (JC): So Angela's not from JC, but she pops up at the Van Vorst Farmer's Market—and she deliveres to NYC. We first bought our first cupcake because we liked her story; the next three dozen sold themselves.</p>

<p><strong><a href="http://notyomamasaffairs.com/">Not Yo Mama's Craft Fair</a></strong> (JC): The craft fair extraordinnaires! Seriously, not yo' mama's craft fair... booze, tacos, handmade soaps, metalworks, pottery and jewelry.</p>

<p><strong><a href="http://www.yelp.com/biz/new-park-tavern-jersey-city">Park Tavern</a></strong> [at the corner of Communipaw and West Side Avenue] (JC): The best burger, hands down. THE BEST BURGER. Plus: a fireplace.</p>

<p><strong><a href="http://www.yelp.com/biz/pecoraro-bakery-jersey-city">Pecoraro Bakery</a></strong> [at Newark and Monmouth] (JC): Old-school without a website, you have to try their bread. We've used it for parties and catering gigs, and there's a place in the East Village that serves their sausage bread.</p>

<p><strong><a href="http://rockawayherbs.com">Rockaway Herbs</a></strong> (NYC): We love everything they're trying to do: the tinctures, the scrubs, the medicines. Everything.</p>

<p><strong><a href="http://www.yelp.com/biz/tommy-2-scoops-jersey-city-2">Tommy 2 Scoops</a></strong> (JC): TWO MORE SCOOPS! TWO MORE SCOOPS! A great place to stop by for Tom's paninis, salads and homemade gelato. The Hungry Bunnies support anyone with pipes like Tommy's. Check out the garden; it's a true gem.</p>

<p><strong><a href="http://thewarehousejc.com/">The Warehouse Cafe</a></strong> (JC): The atmosphere is hipster-travels-to-the-Philippines, the space is incredibly well-lit, the coffee's organic and fair trade (we've used it for our tiramisu).</p>

<p><strong><a href="http://thewaylandnyc.com">The Wayland</a></strong> (NYC): ...and this is the bar that serves the sausage bread.</p>
</article>