<article class="type-system-traditional contact">
  <h1>Contact</h1>

  <h4><a href="mailto:hungrybunnyjc@gmail.com">hungrybunnyjc@gmail.com</a></h4>
  
  <table border="0">
    <tr valign="middle">
      <td><a href="https://twitter.com/hungrybunnyjc"><img src="http://thenation.s3.amazonaws.com/ads/hb/twitter_circle_color-512.png" border="0" alt="Twitter" style="width: 50px"></a></td>
      <td><a href="https://www.facebook.com/TheHungryBunny"><img src="http://thenation.s3.amazonaws.com/ads/hb/facebook_circle_color-256.png" border="0" alt="Facebook" style="width: 50px"></a></td>
      <td><a href="https://www.pinterest.com/hungrybunnyjc/"><img src="http://thenation.s3.amazonaws.com/ads/hb/App-Pinterest-icon.png" border="0" alt="Pinterest" style="width: 50px"></a></td>
    </tr>
  </table>
</article>