<article class="type-system-traditional centered">
<h1>FAQ</h1>

<h2><strong>What is a supper club?</strong></h2>

<p>It's the brainchild of someone creative, food-inclined and perhaps a little broke. They're a great way to meet new friends and neighbors, experiment with ingredients and local produce and have a great day out! Suggested donations cover the cost of food. The Hungry Bunny is BYOB.</p>

<p>Some supper clubs consist of a group of people that rotates cooking; others take a monthly or annual fee from members who drop by whenever is convenient. Ours is a little more structured, due to time and space constraints, but we think it's worth it.</p>

<h2><strong>Why is there a suggested donation?</strong></h2>

<p>The Hungry Bunny can't afford all this food on our own&emdash;the suggested donation is to cover food costs.</p>

<h2><strong>What if I'm a vegetarian?</strong></h2>

<p>We feel your pain&mdash;we're always toeing the culinary line: pesca, veggie, vegan, carnivorous, raw.</p>

<p>We support all dietary lifestyles, but most importantly, we love to bring people together around food: meat, fish, vegetable. The meat we use is clean, factory-free, humanely raised and as local as possible.</p>

<p>See a menu you like? Send us an email prior to reserving a seat, and we'll see if we can accommodate a vegetarian entree. Most times we can, but we'll definitely let you know. Please note that we use a diversity of in-season produce to create balanced meals.</p>

<h2><strong>I have allergies. Can I come?</strong></h2>

<p>If you have food allergies, email us and we'll figure out how to work around them.</p>

<h2><strong>How will I know where to go?</strong></h2>

<p>We are located somewhere between near the East Village and Gramercy in NYC. After reserving your seat and prior to the dinner, you'll receive an email with the location and directions to the dinner.</p>

<h2><strong>Anything else?</strong></h2>

<p>True to our name, the Hungry Bunny Supper Club is home to Ollie, a hungry bunny. He'll be in another room during dinner, but there is hay in the house to satisfy his own hunger pains. Just a heads up in case you have allergies.</p>

<h2><strong>Uh, is it fun?</strong></h2>

<p>Seriously? Food, booze and friends? If you have to ask, then you have to come.</p>

<p><strong>Contact:</strong> <a href="hungrybunnyjc@gmail.com">hungrybunnyjc@gmail.com</a></p>

</article>
