<section class="front-container">
  <%= render 'refills/hero' %>

  <div class="cards">
    <div class="card front-card">
      <div class="card-image">
        <img src="http://thenation.s3.amazonaws.com/ads/hb/chilled-tomato-pepper-soup.jpg" alt="">
      </div>
      <div class="card-header">
        Apple Dumplings End the Next Dinner
      </div>
      <div class="card-copy">
        <p>The last dinner hat hits and misses, but overall, one of the best-- that <strong>cider-braised pork</strong>? Awesomely tender. The <strong>gnocchi</strong>? Homemade, pillowy, and delicious.The <strong>mile high chocolate pie</strong>? Craaappp... you missed out..</p>
      </div>
    </div>

    <div class="card front-card">
      <div class="card-image">
        <img src="http://thenation.s3.amazonaws.com/ads/hb/pasta-in-pan.JPG" alt="">
      </div>
      <div class="card-header">
        Surprise! Next dinner: Aug 25
      </div>
      <div class="card-copy">
        <p>Borah at <strong>Dames Espresso</strong> (on Jersey at 3rd) has been kind enough to lend us her backyard space for a dinner in August! </p>
      </div>
    </div>

    <div class="card front-card">
      <div class="card-image">
        <img src="http://thenation.s3.amazonaws.com/ads/hb/raw-dinner_eating_outdoors.jpg" alt="">
      </div>
      <div class="card-header">
        You asked... we delivered! An outdoor dinner!
      </div>
      <div class="card-copy">
        <p>Between a move within Jersey City and a trip to Hawaii, things have been hectic for us. But we've been hard at work experimenting in the kitchen: seared <strong>maitake mushrooms</strong>, <strong>purple basil pesto</strong>, and <strong>caramel coconut shortbreads</strong> (let's be honest... *Kate's* been hard at work... Ollie just looks handsome).
      </div>
    </div>
  </div>
</section>