// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  margin-top: 1em;
  border-bottom: 1px solid #BBB;
  padding-bottom: 1em;
}

h4 {
  background: #BBB;
  color: white;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 800;
  margin-bottom: 1.3em;
  padding: 3px 8px;
  text-transform: uppercase;
}
