// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  margin-top: 1em;
  border-bottom: 1px solid #BBB;
  padding-bottom: 1em;
}

h4 {
  background: #BBB;
  color: white;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 800;
  margin-bottom: 1.3em;
  padding: 3px 8px;
  text-transform: uppercase;
}

.centered {
  @include span-columns(6);
  @include shift(3);
}

.button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
