<div class='hero'>
  <div class='hero-inner'>
    <a class='hero-logo' href=''>
      <img alt='Logo Image' src='http://thenation.s3.amazonaws.com/ads/hb/HB_Final_White.png'>
    </a>
    <div class='hero-copy'>
      <h1>The Hungry Bunny</h1>
      <p>The Hungry Bunny is a supper club located in downtown Jersey City. The club is a warm and inviting place for friends and neighbors to gather. We are an eating, drinking, and entertaining smorgasboard and offer recipes, tips, and tricks on party planning and catering based on real-life experience. We believe that food is a divine and shared experience--enjoy your friends as much as your food.</p>
    </div>
    <button>Learn More</button>
  </div>
</div>
